@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
}

.main_container{
    width: 400px;
    height: 800px;
    background-color: #22252d;
    border-radius: 15px;
    overflow: hidden;
}


.display{
    width: 100%;
    height: 40%;
    padding: 20px;  
    display: flex;
    align-items: flex-end;
}

.display_content{
    width: 100%;
    height: auto;
    text-align: end;
    vertical-align: text-bottom;
    color: aliceblue;
    font-weight: 600;
}

.operation_container{ 
    height: 40px; 
}

.operation_container span {
    font-size: 23px;
}

.result_container{
    font-size: 25px;
    padding-bottom: 30px;
    height: 50px;
      
}

.result_container span{
    font-size: 40px;  
}

.result{
    height: 40px;
    
}

.display_content{

}

.controls{
    background-color: #292d36;
    height: 60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.controls_container{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px 20px;
}

.controls_button{
    background-color: #272b33;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.2s ease;
}

.controls_button i{
    pointer-events: none;
}

.controls_button:hover{
    cursor: pointer;
    background-color: #202125;
}

.light_blue{
    color: #26ffd7;
}

.op{
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.controls_container button:nth-child(1){
    background-color: #272b33;
    grid-column-start: 1;
    grid-column-end: 4;
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.2s ease;
}


.controls_container button:nth-child(15){
    background-color: #272b33;
    grid-column-start: 1;
    grid-column-end: 3;
}

.controls_container button:nth-child(15):hover{
    cursor: pointer;
    background-color: #202125;
}

footer{
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

footer a{
    color: #4a00e0;
}